<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% block metas %}
            <meta charset="utf-8">
        {% endblock metas %}

        <title>{% block title %}Form - HelloFlask{% endblock %}</title>
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">
        {% endblock styles %}
    {% endblock head %}
</head>
<body style="text-align: center;">
<nav>
    {% block nav %}
        <ul>
            <li><a href="">Home</a></li>
        </ul>
    {% endblock %}
</nav>

<main>
    {% for message in get_flashed_messages() %}
        <div class="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% block content %}{% endblock %}
</main>
<footer>
    {% block footer %}
        <small> &copy; 2021 <a href="http://beiyuouo.github.io" title="Written by BeiYu">BeiYu</a> /
            <a href="https://github.com/beiyuouo/auto-info-collector" title="Fork me on GitHub">GitHub</a> /
            <a href="https://github.com/beiyuouo/auto-info-collector" title="A HelloFlask project">HelloFlask</a>
        </small>
    {% endblock %}
</footer>
{% block scripts %}{% endblock %}
</body>
</html>